<li class="separator acl-write"></li>

<li data-type="button" data-key="mediaUpload" class="acl-write" data-l10n-id="ep_media_upload.toolbar.upload.title">
  <a class="grouped-left ep_media_upload" data-l10n-id="ep_media_upload.toolbar.upload.title" title="Upload File" aria-label="Upload File">
    <button class="buttonicon ep_media_upload media_upload buttonicon-attachment" aria-label="Upload File"></button>
  </a>
</li>

