<div id="mediaUploadModal" class="ep-media-upload-modal">
  <div class="ep-media-upload-modal-content">
    <div id="mediaUploadProgress" class="ep-media-upload-state">
      <div class="ep-media-upload-spinner"></div>
      <p class="ep-media-upload-message" data-l10n-id="ep_media_upload.status.uploading">Uploading...</p>
    </div>
    <div id="mediaUploadError" class="ep-media-upload-state" style="display: none;">
      <p class="ep-media-upload-message ep-media-upload-error-text">Upload failed.</p>
      <button id="mediaUploadErrorClose" class="ep-media-upload-btn" data-l10n-id="ep_media_upload.button.close">Close</button>
    </div>
  </div>
</div>
